<!--Nav Bar-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= pages_home_path %>">Ceci Roel</a>
    </div>

    <!-- Nav Bar -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      <!-- HOME PAGE -->
        <li<% if params[:controller] == "pages" && params[:action] == "home"%>
          class="active"
          <% end %>><a href="<%= pages_home_path %>">Home</a></li>

       

        <!-- ABOUT PAGE -->
         <li 
          <% if params[:controller] == "pages" && params[:action] == "about"%>
          class="active"
          <% end %>
          >
          <a href="<%= pages_about_path %>">
            About 
          </a>
        </li>

      <!-- PORTAFOLIO PAGE -->
        <li 
          <% if params[:controller] == "pages" && params[:action] == "portafolio"%>
          class="active"
          <% end %>
          >
          <a href="<%= pages_portafolio_path %>">
            Portafolio
          </a>
        </li>



       <!-- CONTACT PAGE 
        <li 
          <% if params[:controller] == "pages" && params[:action] == "contact"%>
          class="active"
          <% end %>
          >
          <a href="<%= pages_contact_path %>">
            Contact
          </a>
        </li>
    
-->
    
      </ul>




                       

 <!-- Right NavBar Part -->   
      
      <ul class="nav navbar-nav navbar-right">


<!-- PRIVATE PAGE / My Dashboard -->   
<li class="dropdown">
          <a href="<%= pages_private_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Dashboard<span class="caret"></span></a>

          <ul class="dropdown-menu">
<li><a href="<%= new_user_session_path %>">Login</a></li>
          <li role="separator" class="divider"></li>
            <li><a href="<%= admin_projects_url %>">Projects</a></li>
            <li><a href="<%= admin_quotes_url %>">Quotes</a></li>
            <li><a href="<%= admin_tasks_url %>">Tasks</a></li>
            <li><a href="#">Payments</a></li>
            

          </ul>

        </li>

      </ul>

        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>